<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="baseWager" value="1000" />
        <add key="tourneyAllInUntil" value="50000" />
        <add key="minesAllInUntil" value="50000" />
        <add key="clearFavouriteDifference" value="40" />
        <add key="solidFavouriteDifference" value="20" />
        <add key="upsetPotentialDifference" value="5" />
        <add key="exhibsBaseWager" value="1"/>
    </appSettings>
</configuration>