<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="cookie" value="__cfduid=de74b45357f2d0bebcf3384e6c56411281455007849; _ga=GA1.2.2139162192.1455015086; PHPSESSID=v23utens4p8smhcdl64c9hihv1"/>
        <add key="baseWager" value="10000" />
        <add key="tourneyAllInUntil" value="50000" />
        <add key="minesAllInUntil" value="50000" />
        <add key="clearFavouriteDifference" value="40" />
        <add key="solidFavouriteDifference" value="20" />
        <add key="upsetPotentialDifference" value="5" />
        <add key="exhibsBaseWager" value="1"/>
        <add key="baseFilePath" value="C:\Users\Pat\Dropbox\Salty\"/>
        <add key="saveStreaks" value="true"/>
    </appSettings>
</configuration>